
CloudmersiveReceiptOCR/.vs/CloudmersiveReceiptOCR/v16/Server/sqlite3/db.lock
CloudmersiveReceiptOCR/.vs/CloudmersiveReceiptOCR/v16/Server/sqlite3/storage.ide
CloudmersiveReceiptOCR/.vs/CloudmersiveReceiptOCR/v16/Server/sqlite3/storage.ide-shm
CloudmersiveReceiptOCR/.vs/CloudmersiveReceiptOCR/v16/Server/sqlite3/storage.ide-wal
CloudmersiveReceiptOCR/.vs/CloudmersiveReceiptOCR/v16/.suo
